ipython
jupyter
nbsphinx
numpy
numpydoc
pydata_sphinx_theme
pygments
scipy
sphinx==7.1.2
sphinx-rtd-theme==1.3.0rc1
sphinx_autoapi
sphinx_design
sphinx_favicon
sphinx_gallery
sphinx_material
sphinx_copybutton
rtds_action