alabaster==0.7.16
astroid==3.2.2
attrs==23.2.0
Babel==2.14.0
Brotli==1.1.0
certifi==2024.2.2
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
commonmark==0.9.1
dill==0.3.6
distlib==0.3.8
docformatter==1.7.5
docutils==0.21.2
exceptiongroup==1.1.2
filelock==3.14.0
flake8==7.0.0
future==0.18.3
identify==2.5.36
idna==3.6
imagesize==1.4.1
importlib-metadata==7.0.1
iniconfig==2.0.0
interrogate==1.7.0
isort==5.13.2
Jinja2==3.1.2
lazy-object-proxy==1.10.0
libcst==1.4.0
MarkupSafe==2.1.5
mccabe==0.7.0
mypy==1.10.0
mypy-extensions==1.0.0
nodeenv==1.8.0
numpydoc==1.7.0
packaging==23.1
pathspec==0.9.0
pip==24.0
platformdirs==4.1.0
pluggy==1.2.0
pre-commit==3.7.1
psutil==5.9.8
py==1.11.0
pycln==2.4.0
pycodestyle==2.11.1
pyflakes==3.2.0
Pygments==2.17.2
pylint==2.17.2
PySocks==1.7.1
pytest==7.4.0
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
rich==12.6.0
setuptools==65.3.0
shellingham==1.5.4
snowballstemmer==2.2.0
Sphinx==7.3.7
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
tabulate==0.9.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.7
typer==0.7.0
typing_extensions==4.5.0
typing-inspect==0.9.0
untokenize==0.1.1
urllib3==2.2.1
virtualenv==20.26.2
wheel==0.37.1
wrapt==1.15.0
yapf==0.40.1
zipp==3.17.0
